doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if success_msg
      div=success_msg
    if error_msg
      div=error_msg
    if error
      div=error
    block content
