extends ../layout

block content
    h1.
        Blog List
    ul
        each blog, i in list
            li
                a(href='/blog/'+blog._id)= blog.title
            p= blog

    button
        a(href='/blog/new') Add New Blog
