extends ../layout

block content
    h1= title
    form(name="new-blog",method="post",action="/blog/new")
        input(type="text", placeholder="title", name="title")
        input(type="textarea", placeholder="write some stuff....", name="content")
        button(type="submit") Create